<div class="about-container">
    <section class="about-intro">
      <h1>About Cake Bliss</h1>
      <p>
        Welcome to Cake Bliss! We’re passionate about bringing you the best cake recipes from around the world. 
        Whether you're looking for classic favorites or innovative flavors, we have something for everyone.
      </p>
    </section>
  
    <section class="about-mission">
      <h2>Our Mission</h2>
      <p>
        Our mission is to inspire home bakers and cake enthusiasts to create delicious masterpieces. 
        We believe that every cake has a story, and we’re here to help you tell yours.
      </p>
    </section>
  
    <section class="team">
      <h2>Meet Our Team</h2>
      <div class="team-members">
        <div class="member">
          <img src="assets/images/user.png" alt="Rabina Suwal" />
          <h3>Rabina Shakya</h3>
          
        </div>
        <div class="member">
          <img src="assets/images/user.png" alt="Pritika Suwal" />
          <h3>Pritika Suwal</h3>
          
        </div>
        <div class="member">
          <img src="assets/images/user.png" alt="Prakriti Manandhar" />
          <h3>Prakriti Manandhar</h3>
          
        </div>
      </div>
    </section>
  </div>
  