<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <img src="assets/images/blueberry-lemon-cake.png" class="card-img-top" alt="Blueberry Lemon Cake">
            <div class="card-body">
                <h5 class="card-title">Blueberry Lemon Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="assets/images/pumpkin-cake2.png" class="card-img-top" alt="Pumpkin Cake">
            <div class="card-body">
                <h5 class="card-title">Pumpkin Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <img src="assets/images/blackforest-cake.png" class="card-img-top" alt="Black Forest Cake">
            <div class="card-body">
                <h5 class="card-title">Black Forest Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="assets/images/whiteforest-cake.png" class="card-img-top" alt="White Forest Cake">
            <div class="card-body">
                <h5 class="card-title">White Forest Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <img src="assets/images/almond-cake.png" class="card-img-top" alt="Almond Cake">
            <div class="card-body">
                <h5 class="card-title">Almond Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="assets/images/banana-bread.png" class="card-img-top" alt="Banana Bread">
            <div class="card-body">
                <h5 class="card-title">Banana Bread</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <img src="assets/images/carrot-cake.png" class="card-img-top" alt="Carrot Cake">
            <div class="card-body">
                <h5 class="card-title">Carrot Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="assets/images/cherry-cake.png" class="card-img-top" alt="Cherry Cake">
            <div class="card-body">
                <h5 class="card-title">Cherry Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <img src="assets/images/chocolate-cake.png" class="card-img-top" alt="Chocolate Cake">
            <div class="card-body">
                <h5 class="card-title">Chocolate Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="assets/images/coconut-cake.png" class="card-img-top" alt="Coconut Cake">
            <div class="card-body">
                <h5 class="card-title">Coconut Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <img src="assets/images/coffee-cake.png" class="card-img-top" alt="Coffee Cake">
            <div class="card-body">
                <h5 class="card-title">Coffee Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="assets/images/cookiesandcream-cake.png" class="card-img-top" alt="Cookies and Cream Cake">
            <div class="card-body">
                <h5 class="card-title">Cookies and Cream Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <img src="assets/images/dairy-free-vanilla-cake.png" class="card-img-top" alt="Dairy Free Vanilla Cake">
            <div class="card-body">
                <h5 class="card-title">Dairy Free Vanilla Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="assets/images/gluten-free-chocolate-cake.png" class="card-img-top" alt="Gluten Free Chocolate Cake">
            <div class="card-body">
                <h5 class="card-title">Gluten Free Chocolate Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <img src="assets/images/lemon-cake.png" class="card-img-top" alt="Easy Lemon Cake">
            <div class="card-body">
                <h5 class="card-title">Easy Lemon Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="assets/images/mocha-cake.png" class="card-img-top" alt="Mocha Cake">
            <div class="card-body">
                <h5 class="card-title">Mocha Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <img src="assets/images/pineapple-upsidedown-cake.png" class="card-img-top" alt="Pineapple Upside-Down Cake">
            <div class="card-body">
                <h5 class="card-title">Pineapple Upside-Down Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="assets/images/red-velvet-cake.png" class="card-img-top" alt="Red Velvet Cake">
            <div class="card-body">
                <h5 class="card-title">Red Velvet Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <img src="assets/images/spiced-apple-cake.png" class="card-img-top" alt="Spiced Apple Cake">
            <div class="card-body">
                <h5 class="card-title">Spiced Apple Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="assets/images/strawberry-cake.png" class="card-img-top" alt="Strawberry Cake">
            <div class="card-body">
                <h5 class="card-title">Strawberry Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <img src="assets/images/vanilla-sponge-cake2.png" class="card-img-top" alt="Vanilla Sponge Cake">
            <div class="card-body">
                <h5 class="card-title">Vanilla Sponge Cake</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    </div>