<div class="home-container">
    <section class="intro">
        <h1>Welcome to Cake Bliss!</h1>
        <p>Your go-to site for delicious cake recipes. Discover mouth-watering recipes, from classic cakes to unique
            flavors. Let's bake some magic together!</p>
    </section>

    <section class="cake-carousel">
        <div id="cakeCarousel" class="carousel slide" data-bs-interval="2000" data-bs-ride="carousel">
            <div class="carousel-inner">  
                <div class="carousel-item active">
                    <img src="assets/images/blueberry-lemon-cake.png" class="d-block w-100" alt="Blueberry Lemon Cake">
                </div>

                <div class="carousel-item">
                    <img src="assets/images/pumpkin-cake2.png" class="d-block w-100" alt="Lemon Cake">
                </div>


                <div class="carousel-item">
                    <img src="assets/images/vanilla-sponge-cake2.png" class="d-block w-100" alt="Vanilla Sponge Cake">
                </div>

                <div class="carousel-item">
                    <img src="assets/images/dairy-free-vanilla-cake.png" class="d-block w-100" alt="Black Forest Cake">

                </div>
                <div class="carousel-item">
                    <img src="assets/images/gluten-free-chocolate-cake.png" class="d-block w-100" alt="Almond Cake">
                </div>

                <div class="carousel-item">
                    <img src="assets/images/pineapple-upsidedown-cake.png" class="d-block w-100" alt="Coffee Cake">
                </div>
            </div>
        </div>
    </section>

    <section class="recipes">
        <h2>Our Top Recipes</h2>
        <div class="recipe-list">
            <!-- Recipe 1 -->
            <div class="recipe-card">
                <img src="assets/images/chocolate-cake.png" alt="Chocolate Cake" />
                <h3>Chocolate Cake</h3>
                <p>A rich, moist chocolate cake topped with creamy chocolate ganache.</p>
            </div>

            <!-- Recipe 2 -->
            <div class="recipe-card">
                <img src="assets/images/red-velvet-cake.png" alt="Red Velvet Cake" />
                <h3>Red Velvet Cake</h3>
                <p>Soft and fluffy red velvet cake with a hint of cocoa and cream cheese frosting.</p>
            </div>

            <!-- Recipe 3 -->
            <div class="recipe-card">
                <img src="assets/images/lemon-cake.png" alt="Lemon Cake" />
                <h3>Lemon Cake</h3>
                <p>Bright and zesty lemon cake with a smooth glaze on top.</p>
            </div>
        </div>
    </section>

    